<section class="signup-form">
  <form fxLayout="column" [formGroup]="registerForm" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit(registerForm)">
    <mat-form-field class="demo-full-width" >  
        <mat-label>Name</mat-label>
      <input matInput formControlName="name">  
    </mat-form-field>  
    <mat-error [hidden]="registerForm.get('name').valid && registerForm.get('name').untouched">  
        <span *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched">
          <span *ngIf=" registerForm.get('name').errors.required">Name is required !!!</span>
          <span *ngIf="registerForm.get('name').errors.minlength">Must contain minimum 6 characters !!</span>  
      </span>
    </mat-error> 
    
    <mat-form-field hintLabel="Should be atleast 6 characters long.">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="userName"> 
    </mat-form-field>
    <mat-error [hidden]="registerForm.get('userName').valid && registerForm.get('userName').untouched">  
        <span *ngIf="!registerForm.get('userName').valid && registerForm.get('userName').touched">
          <span *ngIf=" registerForm.get('userName').errors.required">User Name is required !!!</span>
          <span *ngIf="registerForm.get('userName').errors.minlength">Must contain minimum 6 characters !!</span>  
      </span>
    </mat-error>

    <mat-form-field hintLabel="Should be atleast 6 characters long.">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password':'text'"/>
      <mat-icon matSuffix (click)="hide = !hide">
        {{hide ? 'visibility_off':'visibility'}}
      </mat-icon>
    </mat-form-field>
    <mat-error [hidden]="registerForm.get('password').valid && registerForm.get('password').untouched">  
        <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
          <span *ngIf=" registerForm.get('password').errors.required">Password is required !!!</span>
          <span *ngIf="registerForm.get('password').errors.pattern">Minimum eight characters, at least one letter and one number !!</span>  
      </span>
    </mat-error>
    
    <div formGroupName="contactDetails">
      <mat-form-field hintLabel="Mobile number must ciontain 10 digits.">
          <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNumber"> 
      </mat-form-field>
      <mat-error [hidden]="registerForm.get('contactDetails').get('mobileNumber').valid && registerForm.get('contactDetails').get('mobileNumber').untouched">  
          <span *ngIf="!registerForm.get('contactDetails').get('mobileNumber').valid && registerForm.get('contactDetails').get('mobileNumber').touched">
            <span *ngIf=" registerForm.get('contactDetails').get('mobileNumber').errors.required">Mobile Number is required !!!</span>
            <span *ngIf="registerForm.get('contactDetails').get('mobileNumber').errors.minlength">Mobile number must ciontain 10 digits !!</span>  
        </span>
      </mat-error>

      <mat-form-field hintLabel="example@example.com">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"> 
      </mat-form-field>
      <mat-error [hidden]="registerForm.get('contactDetails').get('email').valid && registerForm.get('contactDetails').get('email').untouched">  
          <span *ngIf="!registerForm.get('contactDetails').get('email').valid && registerForm.get('contactDetails').get('email').touched">
            <span *ngIf=" registerForm.get('contactDetails').get('email').errors.registerForm">Email is required !!!</span>
            <span *ngIf="registerForm.get('contactDetails').get('email').errors.pattern">It should match the email pattern !!</span>  
        </span>
      </mat-error>

      <div formGroupName="addressBook">
        <mat-form-field hintLabel="Should be atleast 6 characters long.">
            <mat-label>Address Line1</mat-label>
          <input matInput formControlName="addressLine1"> 
        </mat-form-field>
        <mat-error [hidden]="registerForm.get('contactDetails').get('addressBook').get('addressLine1').valid && registerForm.get('contactDetails').get('addressBook').get('addressLine1').untouched">  
            <span *ngIf="!registerForm.get('contactDetails').get('addressBook').get('addressLine1').valid && registerForm.get('contactDetails').get('addressBook').get('addressLine1').touched">
              <span *ngIf=" registerForm.get('contactDetails').get('addressBook').errors.required">Password is required !!!</span>  
          </span>
        </mat-error>

        <mat-form-field hintLabel="Should be atleast 6 characters long.">
            <mat-label>Street</mat-label>
          <input matInput formControlName="street"> 
        </mat-form-field>
        <mat-error>
            <span *ngIf="!registerForm.get('contactDetails').get('addressBook').get('street').valid && registerForm.get('contactDetails').get('addressBook').get('street').touched">
              <span *ngIf=" registerForm.get('contactDetails').get('addressBook').get('street').errors.required">Street is required !!!</span>
          </span>
        </mat-error>

        <mat-form-field>
            <mat-label>City</mat-label>
          <input  matInput formControlName="city"> 
        </mat-form-field>
        <mat-error [hidden]="registerForm.get('contactDetails').get('addressBook').get('city').valid && registerForm.get('contactDetails').get('addressBook').get('city').untouched">  
            <span *ngIf="!registerForm.get('contactDetails').get('addressBook').get('city').valid && registerForm.get('contactDetails').get('addressBook').get('city').touched">
              <span *ngIf=" registerForm.get('contactDetails').get('addressBook').get('city').errors.required">City is required !!!</span>
          </span>
        </mat-error>

        <mat-form-field>
            <mat-label>Pincode</mat-label>
          <input  matInput formControlName="pincode"> 
        </mat-form-field>
        <mat-error [hidden]="registerForm.get('contactDetails').get('addressBook').get('pincode').valid && registerForm.get('contactDetails').get('addressBook').get('pincode').untouched">  
            <span *ngIf="!registerForm.get('contactDetails').get('addressBook').get('pincode').valid && registerForm.get('contactDetails').get('addressBook').get('pincode').touched">
              <span *ngIf=" registerForm.get('contactDetails').get('addressBook').get('pincode').errors.required">Pincode is required !!!</span>
          </span>
        </mat-error>

        <mat-form-field>
            <mat-label>State</mat-label>
          <input  matInput formControlName="state"> 
        </mat-form-field>
        <mat-error [hidden]="registerForm.get('contactDetails').get('addressBook').get('state').valid && registerForm.get('contactDetails').get('addressBook').get('state').untouched">  
        <span *ngIf="!registerForm.get('contactDetails').get('addressBook').get('state').valid && registerForm.get('contactDetails').get('addressBook').get('state').touched">
          <span *ngIf=" registerForm.get('contactDetails').get('addressBook').get('state').errors.required">State is required !!!</span>  
        </span>
        </mat-error>
      </div>
    </div>

    <mat-checkbox ngModel name="agree" color="primary"required>Agree to Terms and Conditions.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled] = "!registerForm.valid"(click)="onSubmit()">Submit</button>
  </form>
</section>
