.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-size: cover;
}
.sortButton{
    width:50px;
    height:30px;
}

.mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-form-field--inline .mat-form-field {
    display: inline-block;
    /* width: 100%; */
    vertical-align: middle;
}
