<mat-dialog-content class="mat-typography" >
    <h3>Orders #454</h3><br>
    <div  fxLayout="row"
    fxLayoutGap="10px">
<div  fxLayout="column"
fxLayoutGap="10px">
<div fxLayout="column"
fxLayoutGap="10px">
  
  <p>From Restaurant Name</p>
</div>
  <div fxLayout="row"
  fxLayoutGap="10px">
  <p>Badam Halwa</p><span fxFlex></span><p>25.00</p>
  <!-- <p>Badam Halwa</p>
  <p>Badam Halwa</p> -->
  </div>
  <span style="font-weight: bold">Bill Details</span>
  <div fxLayout="row"
  fxLayoutGap="10px">
   
    <p>Item Total</p><span fxFlex></span><p>25.00</p>
  </div>
    <div fxLayout="row"
  fxLayoutGap="10px">
    <p>Delivery Fee</p><span fxFlex></span><p>20.00</p>
    </div>
  <span class="hl"></span>
  <div fxLayout="row"
  fxLayoutGap="10px">
    <p style="font-weight: bold">Bill Total</p><span fxFlex></span><p>45.00</p>
  </div>
  <div>
    
  </div>

</div>
<span class="vl"></span>
<div>
  <p style="font-weight: bold">Delevered On</p>
  <p>25/2/2019</p><span style="font-size: 12px">by Delevery person</span>
  <p>Ratings</p>
  <mat-icon>star</mat-icon>
</div>
</div>

</mat-dialog-content>