.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.link:hover{
    background-color:rgb(102,102,255);
    cursor: context-menu;
}