<!-- <div fxLayout="row"fxLayoutGap="10px;"> -->
  <mat-toolbar color="primary">
    <span style="font-family:'Payball',cursive;font-size: 28px;">Wheels<span style="font-size: 34px;">4</span>Meals</span>
    <span class="example-fill-remaining-space"></span>
    <span><p routerLink="/login" style="text-decoration: none;color:white;margin-right: 20px;">login</p></span>
    <span><p routerLink="/signup" style="text-decoration: none;color:white">Register</p></span>
    <span><a style="text-decoration: none;color:white">Logout</a></span>
  </mat-toolbar>
<!-- </div> -->